/*Portfolio Template Styles*/
/*
primary color: #75625e
secondary color: #e0a094
third color: #829aa6
font colors: #f0e0dd and #d7dee09
*/
/*Global Styles*/
body, html {
  margin:0;
  font-family: 'varela round', sans-serif;
}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

a{
  color:inherit;
  text-decoration: none;
}

h1,h2,h3{
  margin:0;
}

/*Header Styles*/
header {
  height:100px;
  width: 100%;
  background-color:#75625e;
}

.logo{
  width:400px;
  height: 100%;
  float: left;
}

.logo h1{
  text-align: center;
  padding: 20px 0px;
  color: #f0e0dd;
}

.menu{
  height: 100%;
  width: 400px;
  float: right;
}

.menu ul{
  position: relative;
  top: 35px;
}

.menu li{
  display: inline-block;
  padding: 0px 10px;
}

/*Banner Styles*/
#banner{
  height: 300px;
  width: 100%;
  background: url("../img/forest_large.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#banner h1{
  text-align: center;
  padding-top: 90px;
  font-size: 3em;
}

/*Skills Styling*/

#skills{
  height: 375px;
  width: 100%;
  background-color: #75625e;
  padding-top: 45px;
}

.skills-container{
  height: 50%;
  width: 85%;
  margin: 0 auto;
}

#skills article{
  height:160%;
  width: 25%;
  float: left;
  background-color: #e0a094;
  margin: 0 22px;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: justify;
}

#skills article h1{
  text-align: center;
}

/*About Styles*/

#about{
  width: 100%;
  padding: 50px 0;
  background-color: #829aa6;
  display: inline-flex;
}

.img-box{
  height: 360px;
  width: 30%;
  float: left;
}

.img-container{
  height: 166px;
  width:  250px;
  margin-left: 70px;
  margin-top: 35px;
}

.about-info{
  height: 360px;
  width: 70%;
  float: left;
}

.about-content{
  height: 315px;
  width: 835px;
  border: 2px dashed #333;
  margin-top: 25px;
  border-radius: 5px;
}

#about h1{
  text-align: center;
  padding: 15px;
}

#about p{
  padding: 0px 15px;
  text-align: justify;
}

#about img{
  width: 100%;
  border-radius: 100%;
}

/*Contact Styles*/

#contact{
  width:100%;
  padding:25px 0;
  display: inline-block;
  background: url("../img/woods.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

#contact h1{
  text-align: center;
  font-size: 3em;
}

.form-box{
  height: 300px;
  width: 500px;
  margin: 0 auto;
  background-color: rgba(225,225,225, 0.7);
  padding: 40px;
}

#contact input{
  height: 40px;
  width: 100%;
  margin: 10px 0;
}

#contact textarea{
  height: 125px;
  width: 100%;
  margin: 10px 0;
}

#contact button{
  height: 40px;
  width: 125px;
  background-color: #75625e;
  border: 2px solid #75625e;
  color: #fff;
  font-size: 1.2em;
}

#contact button:hover{
  background-color: purple;
}

/*Footer Styles*/

footer{
  height: 150px;
  width: 100%;
  background-color: #333;
  clear: both;
}

.copyright p{
  margin: 0;
  text-align: center;
  padding: 30px 0;
  color: white;
}

.sm-icons{
  width: 180px;
  height: 50px;
  margin: 0 auto;
}

.icon{
  height: 50px;
  width: 50px;
  background-color: #fff;
  float: left;
  margin: 0 5px;
  border-radius: 100%;
}

.icon i{
  font-size: 2em;
  color: #333;
  padding: 10px;
}
